<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
            
    <%= csrf_meta_tags %>

    <meta name='description' content='<%= yield_meta_tag(:description, 'Default description') %>' />      
    <meta name='keywords' content='<%= yield_meta_tag(:keywords, 'ruby, rails') %>' />      
    <meta name='robots' content='<%= yield_meta_tag(:robots, 'nofollow') %>' />    
    <meta name='author' content='<%= yield_meta_tag(:author, 'Jimmy Chong') %>' />    
    <meta name='pragma' content='<%= yield_meta_tag(:pragma, 'no-cache') %>' />      

<!-- https://stackoverflow.com/questions/34993384/how-to-restrict-a-css-file-for-only-on-one-view-in-rails  -->      
<!--
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
-->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
